/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  width: 100%;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-wrapper {
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

.btn--large {
  width: 213px;
  height: 60px;
  border: none;
  background-color: #5373fd;
  color: white;
  font-family: Aleo;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
}

.btn:hover {
  background-color: #486bfe;
  color: #333;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 1360px) {
  .content-wrapper {
    max-width: 1140px;
  }
}
@media (max-width: 1024px) {
  .content-wrapper {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .content-wrapper {
    max-width: 540px;
  }
}

.header {
  background-image: url("../img/fullHD/header-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 862px;
}
.header__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header__content-container h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  margin: -81px 0 0 0;
}
.header__content-container strong {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.31em;
  margin: 8px 0 48px 0;
}

.header__search {
  max-width: 647px;
  width: 100%;
}
.header__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search-container button {
  border: none;
  width: 139px;
  height: calc(100% - 8px);
  margin: 4px 5px 4px 0;
  border: none;
  background-color: #5373fd;
  color: white;
  font-family: Aleo;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
.header__search-container button i {
  margin-right: 12px;
}
.header__search-container input {
  border: none;
  outline: none;
  height: 100%;
  min-width: 277px;
  width: calc(100% - 144px);
  margin-left: 36px;
  padding: 0;
}

.header__scroll {
  position: absolute;
  left: 46%;
  bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__scroll--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: white;
}
.header__scroll--img {
  width: 14px;
  height: 16px;
  fill: white;
}

@media (max-width: 1360px) {
  .header {
    background-image: url("../img/HD/header-bg.webp");
  }
}
@media (max-width: 1024px) {
  .header {
    background-image: url("../img/dekstop/header-bg.webp");
  }
  .header h1 {
    margin: -77px 0 0 0;
  }
  .header .header__scroll {
    left: 45%;
  }
}
@media (max-width: 768px) {
  .header {
    background-image: url("../img/tablet/header-bg.webp");
  }
  .header .header__scroll {
    left: 43%;
  }
}
@media (max-width: 576px) {
  .header {
    background-image: url("../img/phone/header-bg.webp");
  }
  .header .header__scroll {
    left: 40%;
  }
}

.nav {
  background-color: #5373fd;
  height: 100%;
  max-height: 84px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
}
.nav__items__logo {
  margin-top: 8px;
}
.nav__items .navbar {
  width: 100%;
  max-width: 575px;
  margin: 32px 0;
}
.nav__items .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}
.nav__items .navbar .nav-menu a {
  font-family: Aleo;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.nav__items .navbar .nav-menu a:hover {
  border-bottom: 1px solid white;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 26px;
}
.burger.active {
  width: 30px;
  height: 32px;
}
.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 12px;
}
.burger:before, .burger:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger:before {
  top: 0px;
}
.burger:after {
  bottom: 0;
}
.burger.active span {
  opacity: 0;
}
.burger.active:before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.burger.active:after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 768px) {
  .nav {
    max-height: 136px;
    padding: 32px 0;
  }
  .nav__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 72px;
  }
  .nav__items .navbar {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .nav {
    position: relative;
    height: 84px;
    padding: 0;
  }
  .nav__items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-height: 84px;
  }
  .nav .burger {
    display: block;
    margin-left: 146px;
  }
  .nav .navbar {
    display: none;
    height: 216px;
    width: 100%;
    background-color: #5373fd;
  }
  .nav .navbar.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 0;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 0;
  }
  .nav-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.why-us {
  background-image: url("../img/fullHD/why-us-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 704px;
}
.why-us__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-us__item--left {
  max-width: 648px;
  height: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-us__item--left h2 {
  font-family: Aleo;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
}
.why-us__item--left p {
  margin: 0;
}
.why-us__item--right {
  margin-right: 112px;
  max-width: 424px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
.why-us__item--right :nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.why-us__item--right picture {
  max-height: 220px;
}

@media (max-width: 1360px) {
  .why-us {
    background-image: url("../img/HD/why-us-bg.webp");
    max-height: 704px;
  }
  .why-us__item--left {
    max-width: 558px;
  }
  .why-us__item--right {
    max-width: 461px;
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .why-us {
    background-image: url("../img/dekstop/why-us-bg.webp");
  }
  .why-us__item--left {
    max-width: 550px;
  }
  .why-us__item--right {
    width: 386px;
  }
}
@media (max-width: 768px) {
  .why-us {
    background-image: url("../img/tablet/why-us-bg.webp");
    max-height: 659px;
  }
  .why-us__item {
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .why-us__item--left {
    margin-top: 25px;
    max-width: 720px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .why-us__item--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 576px) {
  .why-us {
    background-image: url("../img/phone/why-us-bg.webp");
    max-height: 630px;
  }
  .why-us__item {
    height: unset;
  }
  .why-us p {
    margin: 21px 0px 24px 0;
  }
}
.steps {
  position: relative;
  background-color: #333;
  height: 306px;
}
.steps__items {
  position: relative;
  max-width: 1320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps__items-container {
  width: 32%;
  height: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 28px;
}
.steps__items-text {
  display: block;
  font-family: Aleo;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: normal;
}
.steps__items svg {
  width: 64px;
  height: 64px;
}

.line {
  position: absolute;
  width: 31%;
  height: 200px;
  top: 70px;
  border-top: 2px dashed darkgray;
  border-radius: 120%/120%;
  opacity: 0.5;
}
.line--left {
  left: 17%;
}
.line--right {
  right: 17%;
}

@media (max-width: 768px) {
  .line {
    display: none;
  }
  .steps {
    height: 658px;
  }
  .steps__items {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .steps__items-container {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 22px;
    margin-bottom: 0;
  }
}
.book-item {
  max-height: 684px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.book-item--first {
  background-image: url("../img/fullHD/book-first.webp");
}
.book-item--second {
  background-image: url("../img/fullHD/book-second.webp");
}
.book-item__text {
  width: 49%;
  position: relative;
  top: 32.5%;
  max-height: 344px;
  background: rgba(35, 35, 35, 0.8980392157);
}
.book-item__text--right {
  float: right;
}
.book-item__text-container {
  padding: 44px 32px;
}
.book-item__text-container span {
  font-size: 20px;
}
.book-item__text-container h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 16px 0;
}
.book-item__text-container button {
  margin-top: 10px;
}

@media (max-width: 1360px) {
  .book-item {
    max-height: 712px;
  }
  .book-item--first {
    background-image: url("../img/HD/book-first.webp");
  }
  .book-item--second {
    background-image: url("../img/HD/book-second.webp");
  }
  .book-item__text {
    top: 31.5%;
    max-height: 372px;
  }
}
@media (max-width: 1024px) {
  .book-item {
    max-height: 712px;
  }
  .book-item--first {
    background-image: url("../img/dekstop/book-first.webp");
  }
  .book-item--second {
    background-image: url("../img/dekstop/book-second.webp");
  }
  .book-item__text {
    top: 31%;
    width: 57.5%;
  }
}
@media (max-width: 768px) {
  .book-item {
    max-height: 588px;
  }
  .book-item--first {
    background-image: url("../img/tablet/book-first.webp");
  }
  .book-item--second {
    background-image: url("../img/tablet/book-second.webp");
  }
  .book-item__text {
    width: 100%;
    top: 120px;
  }
  .book-item button {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .book-item {
    max-height: 616px;
  }
  .book-item--first {
    background-image: url("../img/phone/book-first.webp");
  }
  .book-item--second {
    background-image: url("../img/phone/book-second.webp");
  }
  .book-item__text {
    top: 120px;
  }
  .book-item button {
    margin-top: 14px;
  }
}
.review {
  background-image: url("../img/fullHD/review-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  height: 680px;
}
.review__content-container {
  padding: 120px 0;
}
.review__content-container h2 {
  font-family: Aleo;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: normal;
  margin: 0 0 60px 0;
  text-align: center;
}
.review__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 280px;
}
.review__content-item picture {
  display: block;
  max-height: 336px;
}
.review__content-item--text {
  background-color: #333;
  padding: 48px 60px;
}
.review__content-item--text span {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: normal;
}
.review__content-item--text p {
  margin-top: 13px;
}
.review__content-item--text svg {
  width: 20px;
  height: 20px;
  margin-right: 11px;
}

@media (max-width: 1360px) {
  .review {
    background-image: url("../img/HD/review-bg.webp");
    height: 708px;
  }
  .review__content-item {
    max-height: 308px;
  }
}
@media (max-width: 1024px) {
  .review {
    background-image: url("../img/HD/review-bg.webp");
    height: 736px;
  }
  .review__content-item {
    max-height: 336px;
  }
}
@media (max-width: 768px) {
  .review {
    background-image: url("../img/tablet/review-bg.webp");
    height: 924px;
  }
  .review__content-container {
    padding: 60px 0;
  }
  .review__content-item {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review__content-item--text {
    max-height: 308px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .review {
    background-image: url("../img/phone/review-bg.webp");
    height: 980px;
  }
  .review__content-item--text {
    padding: 48px 57px 33px 57px;
  }
}
.footer {
  background-color: black;
  max-height: 268px;
}
.footer__items {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__items p {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin: 8px 0 20px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  width: 280px;
}
.footer__social svg {
  max-width: 36px;
  height: 32px;
  --fill: white;
}
.footer__social svg:hover {
  --fill: #486bfe;
}